/* Dark | Black */

$dark-pr: #101010;
$dark-l1: #303030;
$dark-l2: #505050;
// $dark-l3: #423333;
// $dark-l4: #4e4040;

/* Red */

$red-d2: #6E2B2B;
$red-d1: #943A3A;
$red-pr: #AE4444;
// $red-l1: #db2727;
// $red-l2: #df3d3d;

/* White */

$white: rgba(255, 255, 255, 0.9);