
language: node_js

env:
  - NODE_ENV='production'

node_js:
  - "8"

script:
  - npm install
  - npm run build
  
deploy:
  - provider: pages
  - skip_cleanup: true
  - github_token: $GH_PAGES_TOKEN
  - local_dir: build
  - on:
      branch: master
