
language: node_js

env:
  - NODE_ENV='production'

node_js:
  - "8"

script:
  - npm install
  - npm run build
  - echo $GH_PAGES_TOKEN
  
deploy:
  - provider: pages
  - skip-cleanup: true
  - github_token: $GH_PAGES_TOKEN
  - keep-history: true
  - on:
      branch: master
