@import '../../sass/media.scss';

.square-wrapper {
  position: relative;
  margin: 0 auto;
  width: 75%;


  @include tablet {
    width: 65%;
  }

  @include desktop {
    width: 65%;
  }

  &__child {
    border-radius: 3px;
    box-shadow: 0 1.5em 5em rgba(0, 0, 0, 0.5);
    overflow: hidden;
    padding-top: 100%;
    position: relative;
    width: 100%;
  }

  &__content {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 100%;
    position: absolute!important;
    width: 100%;
  }
}