@import '../../sass/variables.scss';

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  color: $white;
}

.title {
  padding: 3.5em 0 1.5em 0;
  text-align: center;
  text-transform: uppercase;

  @include phone {
    padding: 1.5em 0;
  }
}