@import '../../sass/variables';

.btn-link {
  border: 2px solid rgba($white, 0.6);
  border-radius: 3px;
  color: $white;
  display: inline-block;
  padding: 7px 35px;
  text-decoration: none;
  transition-duration: 200ms;
  transition-property: background-color, color, transform;

  &:hover {
    background-color: rgba($white, 0.8);
    color: $dark-pr;
    transform: translateY(-1px);
  }
}